body {
    background: url('imgs/bg_main_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-brand img {
    max-width: 100px;
}

.character-img {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: top;
    background: linear-gradient(to bottom, );
}

footer {
    color: #b07322;
    background-color: #fff;
}

.footer-link {
    text-decoration: none;
}

/* Animations ig */
.discord, .facebook, .x-twitter, .youtube {
    transition: 2s;
    padding: 0.5%
}

.discord:hover, .facebook:hover, .x-twitter:hover, .youtube:hover {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: 1;
    border-radius: 150%;
}

.discord:hover {
    background-color: #7289da;
    box-shadow: 0px 0px 10px #7289da;
}

.x-twitter:hover {
    background-color: #1DA1F2;
    box-shadow: 0px 0px 10px #1DA1F2;
}

.facebook:hover {
    background-color: #1877F2;
    box-shadow: 0px 0px 10px #1877F2;
}

.youtube:hover {
    background-color: #FF0000;
    box-shadow: 0px 0px 10px #FF0000;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}