body {
    background: url('imgs/bg_main_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "optima-lt-pro", sans-serif;
}

.navbar-brand img {
    max-width: 100px;
}

.navbar, h1, h3, h4, .stat {
    font-family: "optima-lt-pro", sans-serif;
    font-weight: bold;
}

.sticky {
    position: sticky;
    top: 0
}

.blurb {
    background: linear-gradient(to bottom, #fff, #d4d4d4);
    box-shadow: 3px 3px 0px #d4d4d4 inset, -3px -3px 0px #b9b9b9 inset;
    border-radius: 10px;
}

.character-img {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: top;
    background: linear-gradient(to bottom, #fff, #fff, #be9af5);
    border-radius: 7px;
    box-shadow: 3px 3px 0px #d4d4d4 inset, -3px -3px 0px #624b7c inset;
    transition: 1s
}

.character-links{
    text-decoration: none!important;
    color: #b07322;
    transition: 1s
}

.character-links:hover {
    color: #ffde25;
}

.character-img:hover {
    transform: scale(1.1)!important;
    padding: 1.4%!important
}

section {
    background-color: #fff;
}

footer, nav, .nav-link, .dropdown-item {
    color: #b07322!important;
    background-color: #fff!important;
}

.disabled {
    opacity: 50%
}

.footer-link {
    text-decoration: none;
}
 /* Character Page */
.info-box, .intro {
    background: linear-gradient(to bottom, #fff, #d4d4d4);
    border-radius: 10px;
}

.boost-0 {
    background: #adadad;
}

.boost-1 {
    background: #fcd509;
}

.boost-2 {
    background: #fc900a;
}

.boost-3 {
    background: #FF0000;
    color: #fff
}

/* Classes */
.chara-classes {
    max-width: 50px;
    max-height: 50px
}

/* Resistance and Weaknesses */
.res, .weak {
    max-width: 50px;
    max-height: 50px;
}

.res {
    filter: drop-shadow(2px 2px 0px #0095DF) drop-shadow(-2px -2px 0px #0095DF) drop-shadow(-2px 2px 0px #0095DF) drop-shadow(2px -2px 0px #0095DF)
}

.weak {
    filter: drop-shadow(2px 2px 0px #FFA900) drop-shadow(-2px -2px 0px #FFA900) drop-shadow(-2px 2px 0px #FFA900) drop-shadow(2px -2px 0px #FFA900)
}


/* Animations ig */
.discord, .facebook, .x-twitter, .youtube {
    transition: 2s;
    padding: 0.5%;
    border-radius: 150%
}

.discord:hover, .facebook:hover, .x-twitter:hover, .youtube:hover {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: 1;
    border-radius: 150%;
}

.discord:hover {
    background-color: #7289da;
    box-shadow: 0px 0px 10px #7289da;
}

.x-twitter:hover {
    background-color: #1DA1F2;
    box-shadow: 0px 0px 10px #1DA1F2;
}

.facebook:hover {
    background-color: #1877F2;
    box-shadow: 0px 0px 10px #1877F2;
}

.youtube:hover {
    background-color: #FF0000;
    box-shadow: 0px 0px 10px #FF0000;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}